.row-posts {
  margin-bottom: 0.66rem;
}

.row-posts-details {
  color: #828282;
  font-size: 85%;
}

.section-footer {
  text-align: center;
}

.section-nav img {
  max-width: 66%;  
}

.u-center-text {
  text-align: center;
}

@media (min-width: 400px) {
  .section-nav img {
    max-width: 300px;  
  }
}