<!DOCTYPE html>
<html>
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-174116402-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-174116402-1");
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PackerWire</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h1>
              PackerWire
            </h1>
          </div>
        </div>
      </div>
    </section>
    <%= yield %>
  </body>
</html>
