<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PackerWire</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h1>
              PackerWire
            </h1>
          </div>
        </div>
      </div>
    </section>
    <%= yield %>
  </body>
</html>
